#app {
    display: flex;
    justify-content: center;
    padding: 136px 20px 160px;
    .row {
        display: flex;
        justify-content: center;
        #international-mobile {
            width: 100%;
        }
        .text {
            padding-left: 20px;
            h3 {
                color: #383d48;
                font-weight: 400;
                font-size: 28px;
            }
            p {
                line-height: 24px;
                padding-bottom: 7px;
                color: #74787e;
                width: 320px;
            }
            a {
                text-decoration: none;
                color: #3098dc;
            }
        }
    }
}
