#discover {
    padding: 72px 10px 78px;
    div {
        text-align: center;
        h3 {
            max-width: 740px;
            margin: auto;
            padding-bottom: 42px;
            font-weight: 400;
            line-height: 46px;
            font-size: 28px;
        }
        div {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            img {
                display: block;
                height: 164px;
                width: 170px;
                max-width: 100%;
                margin: auto;
            }
            b {
                font-size: 18px;
                font-weight: 600;
                color: #383d48;
                display: block;
            }
        }
    }
}
